<footer class="footer">
    <p class="text-muted text-center">&copy; COMP229 2023</p>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>